.modal-bg{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, Opacity 0.5s;
  z-index: 11;
}

.bg-active{
   visibility: visible;
   opacity: 1;
}

.modal{
  position: relative;
  font-family: 'Montserra', sans-serif;
  background-color: white;
  background-image: asset-url('logo-Jam-bot_N&B.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 400px;
  width: 70%;
  height: 80%;
  display: flex;
  justify-content: space-around;
  padding-left: 60px;
  align-items: flex-start;
  flex-direction: column;
  z-index: 10;
  border-radius: 6px;
}

.modal-close{
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  cursor: pointer;
  font-size: 24px;
}

.formulaire {
  display: flex;
}

.colonne-1 {
  width: 400px;
}

.colonne-2 {
  width: 400px;
}
